@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:wght@400;500;600&display=swap');

* {
  padding: 0;
}

ul {
  list-style-type: none;
}

ul li {
  display: flex;
  flex-direction: column;
}

ul li span {
  font-size: 20px;
  margin-bottom: 1.1rem;
  font-weight: 600;
}

form button {
  max-width: 20%;
  padding: 10px;
}

ul li button {
  max-width: 30%;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  max-width: 50%;
  margin-bottom: 20px;
  padding: 10px;
}

.divider {
  width: 100%;
  height: 2px;
  background: grey;
  margin: 20px 0;
}
