@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:wght@400;500;600&display=swap');

* {
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  border: 2px solid #000;
}

ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

ul li div:first-child{
  font-weight: 600;
  font-size: 1.2rem;
}

ul li:nth-child(odd){
  background: rgb(212, 209, 209);
}

form button {
  max-width: 20%;
  padding: 10px;
  align-self: flex-end;
}

ul li button {
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20%;
}

form h2 {
  text-align: center;
}

form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #000;
  font-weight: 500;
}

form input::placeholder{
  font-weight: 500;
}

.divider {
  width: 50%;
  height: 3px;
  background: grey;
  margin: 20px auto;
}
